
## Allgemeines

Calliope mini REV2 ist eine überarbeitete Version des Calliope mini 1.3. Die größte Neuerung ist hierbei die zusätzliche Bestückung mit einem 128Mb Flash-Speicher, der mit bis zu 25 HEX-Dateien bespielt werden kann.  
Weitere Informationen sowie Schaltplan, Blockschaltbild & Pinbelegung fndest du **[Hier](https://calliope-mini.github.io/v20/)** 
