:root {
    --swiper-navigation-color: var(--primary);
    --swiper-theme-color: var(--primary);
    --swiper-pagination-color: var(--primary);
}

* {
    /* transition: .2s; */
    scroll-margin-top: 2em;
	box-sizing: border-box;
}

// img {
//     width: 100%;
// }
h1,h2,h3,h4,h5,h6,p,a {
    overflow-wrap: break-word;
}


.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}



button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:not(.active) {
    background-color: var(--primary-inverse);;
    color: var(--primary);
}
button:not(.active):hover {
    background-color: var(--primary);
    color: var(--primary-inverse);;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    /* background-color: var(--color-dark); */
    opacity: 0.5;
}