:root {
    /* Calliope */
    --color-calliope: #42C9CB;
    --color-calliope-50: #D2F2F3;
    --color-calliope-100: #C2EEEE;
    --color-calliope-200: #A2E4E5;
    --color-calliope-300: #82DBDD;
    --color-calliope-400: #62D2D4;
    --color-calliope-500: #42C9CB;
    --color-calliope-600: #2EA5A7;
    --color-calliope-700: #227A7B;
    --color-calliope-800: #164E4F;
    --color-calliope-900: #0A2323;
  
    /* Rosa */
    --color-rosa: #E6007D;
    --color-rosa-50: #FF9FD3;
    --color-rosa-100: #FF8ACA;
    --color-rosa-200: #FF61B7;
    --color-rosa-300: #FF39A4;
    --color-rosa-400: #FF1092;
    --color-rosa-500: #E6007D;
    --color-rosa-600: #AE005F;
    --color-rosa-700: #760040;
    --color-rosa-800: #3E0022;
    --color-rosa-900: #060003;
  
    /* Blau */
    --color-blau: #6476FD;
    --color-blau-50: #F1F3FF;
    --color-blau-100: #DDE1FF;
    --color-blau-200: #B5BDFE;
    --color-blau-300: #8C9AFE;
    --color-blau-400: #6476FD;
    --color-blau-500: #2D45FC;
    --color-blau-600: #031FEE;
    --color-blau-700: #0218B6;
    --color-blau-800: #02107F;
    --color-blau-900: #010948;
  
    /* Gruen */
    --color-gruen: #3FC863;
    --color-gruen-50: #CEF1D7;
    --color-gruen-100: #BEECCA;
    --color-gruen-200: #9EE3B0;
    --color-gruen-300: #7EDA97;
    --color-gruen-400: #5FD17D;
    --color-gruen-500: #3FC863;
    --color-gruen-600: #2EA14C;
    --color-gruen-700: #227538;
    --color-gruen-800: #154A23;
    --color-gruen-900: #091E0E;
  
    /* Lila */
    --color-lila: #8073E5;
    --color-lila-50: #EDEBFB;
    --color-lila-100: #DEDAF8;
    --color-lila-200: #BEB8F2;
    --color-lila-300: #9F95EB;
    --color-lila-400: #8073E5;
    --color-lila-500: #5544DC;
    --color-lila-600: #3624C3;
    --color-lila-700: #291C94;
    --color-lila-800: #1C1365;
    --color-lila-900: #0F0A36;
  
    /* Gelb */
    --color-gelb: #F7C425;
    --color-gelb-50: #FDF4D6;
    --color-gelb-100: #FDEFC2;
    --color-gelb-200: #FBE49B;
    --color-gelb-300: #FAD974;
    --color-gelb-400: #F8CF4C;
    --color-gelb-500: #F7C425;
    --color-gelb-600: #DCA808;
    --color-gelb-700: #A67F06;
    --color-gelb-800: #705504;
    --color-gelb-900: #392C02;
  
    /* Apricot */
    --color-apricot: #FF4600;
    --color-apricot-50: #FFCBB8;
    --color-apricot-100: #FFBCA3;
    --color-apricot-200: #FF9F7A;
    --color-apricot-300: #FF8152;
    --color-apricot-400: #FF6429;
    --color-apricot-500: #FF4600;
    --color-apricot-600: #C73700;
    --color-apricot-700: #8F2700;
    --color-apricot-800: #571800;
    --color-apricot-900: #1F0800;
  
    /* Grau */
    --color-grau: #48525F;
    --color-grau-50: #D3D7DD;
    --color-grau-100: #C7CDD5;
    --color-grau-200: #B0B8C3;
    --color-grau-300: #99A3B1;
    --color-grau-400: #828FA0;
    --color-grau-500: #6B7A8D;
    --color-grau-600: #5A6676;
    --color-grau-700: #48525F;
    --color-grau-800: #30363F;
    --color-grau-900: #181B1F;
  }